<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCF_zHBEOO8Eoy_D3PvtcpFqvu0rUwcC6g</string>
	<key>GCM_SENDER_ID</key>
	<string>889941125298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesAppWithGetx</string>
	<key>PROJECT_ID</key>
	<string>notes-app-with-getx</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-app-with-getx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889941125298:ios:0a99ce39f362d43ec501ab</string>
</dict>
</plist>